<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>IOS_CLIENT_ID.apps.googleusercontent.com</string>
  <key>ANDROID_CLIENT_ID</key>
  <string>ANDROID_CLIENT_ID.apps.googleusercontent.com</string>
</dict>
</plist>
