<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE</key>
	<dict>
		<key>BUNDLE_ID</key>
		<string>com.google.samples.quickstart.AnalyticsExample</string>
		<key>GOOGLE_APP_ID</key>
		<string>1:1015367374593:ios:2faf13965ff7b485</string>
		<key>PLIST_VERSION</key>
		<string>2</string>
	</dict>
	<key>MEASUREMENT_SERVICE</key>
	<dict>
		<key>IS_ENABLED</key>
		<true/>
	</dict>
	<key>ADS_SERVICE</key>
	<dict>
		<key>IS_ENABLED</key>
		<false/>
	</dict>
	<key>ANALYTICS_SERVICE</key>
	<dict>
		<key>IS_ENABLED</key>
		<true/>
		<key>TRACKING_ID</key>
		<string>UA-62466735-8</string>
	</dict>
	<key>APP_INVITES_SERVICE</key>
	<dict>
		<key>IS_ENABLED</key>
		<false/>
	</dict>
	<key>CLOUD_MESSAGING_SERVICE</key>
	<dict>
		<key>IS_ENABLED</key>
		<false/>
	</dict>
	<key>SIGNIN_SERVICE</key>
	<dict>
		<key>IS_ENABLED</key>
		<false/>
	</dict>
</dict>
</plist>
